<!doctype html>
<html>
  <head>
    <title>Concourse Speed</title>
    <link rel="stylesheet" href="/static/speedmap.css">
  </head>
  <body>
    <div id="speedmap"></div>

    <script src="/static/d3.min.js"></script>
    <script src="/static/speedmap.js"></script>
    <script>
      function serverGetCallback(err, response) {
        if (err === null) {
          console.log(response);
          speedMap(response).render();
        }
      }
      
      getJson("/api/speeddata/month", serverGetCallback);

    </script>
  </body>
</html>
